body {
  background-color: #F0F2F5;
  margin-bottom: 20px;
  width: 100%;
  height: 100vh;
}

/* FOR LOGIN */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  margin: 200px 0 0 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form .login-card {
  min-width: 450px;
}

.login-form .login-card form {
  margin-top: 2rem;
}

.login-form .login-card .field {
  margin-bottom: 1.5rem;
}

.login-break {
  margin: 30px;
}

.create-account-button {
  position: static !important;
}

.login-text-title {
  color: blue;
  font-size: 60px;
}

.login-text-subtext {
  font-size: 30px;
}

.google-login-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* FOR REGISTER */

.register-modal-container {
  display: grid;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.register-modal {
  background-position: center;
  background-color: white;
  border-radius: 5%;
  padding: 0px 30px 30px;
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;

}

.text-center {
  font-size: 40px;
  text-align: center;
  
}

.close {
  float: right;
}

/* FOR NAVBAR */

.navbar-container {
  width: 100%;
}

.navbar {
  display: flex;
  top: 0;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 20px 0 20px 0;
}

.navbar-search {
  width: 532px;
  margin-right: 110px;
}

.navbar-avatar {
  margin-right: 10px;
}

/* FOR CREATE POST MODAL */

.create-post-modal-container {
  display: grid;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.create-post-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-position: center;
  background-color: white;
  border-radius: 2%;
  padding: 30px 30px 30px;
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
  gap: 20px;
  padding: 0 0 20px 0;
  width: 500px;

}

.add-to-post-container {
  display: flex;
  gap: 10px;
  width: 450px;
}

.post-button {
  width: 390px;
}

.post-text-area {
  width: 450px;
}

.create-post-break {
  margin-top: -20px;
  width: 500px;
}

.create-post-close-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
}

.photo-upload {
  width: 450px;
}

.photo-upload-container {
  display: none;
}

.create-avatar-container {
  display: flex;
  gap: 10px;
  align-content: flex-start;
  justify-content: flex-start;
  width: 450px;
}

.profile-name {
  font-weight: bold;
  font-size: 20px;
}

.like-comment-button {
  position: static !important;
}

/* FOR REGISTER/LOGIN LINKS */

.register-link {
  text-align: center;
}

/* FOR HOME */

.create-post-container {
  display: flex;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.create-post-card {
  margin-top: 50px;
  width: 632px;
}

.create-post {
  display: flex;
  align-items: center;
  gap: 10px;
}

.write-post-button {
  border: none;
  border-radius: 20px;
  padding: 15px 0 15px 0;
  width: 532px;
  background-color: #E4E6E9;
  text-align: left;
  cursor: pointer;
}

.write-post-button:hover {
  background-color: lightgray;
}

.write-post-text {
  margin-left: 10px;
  font-size: 15px;
  color: gray;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  margin-top: 20px;
}

.post-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  margin-top: -15px;
}

.post-template {
  display: Flex;
  flex-direction: column;
  width: 632px;
}

.post-image {
  width: 600px;
  border-radius: 10px;
}

.post-body {
  text-align: left;
  width: 600px;
}

.post-avatar-container {
  display: flex;
  gap: 10px;
  width: 600px;
}

.time {
  margin-top: 0;
}

.like-comment-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  margin-top: 10px;
}

.post-break {
  width: 632px;
}

.like-comment-button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 150px;
}

.like-icon {
  font-size: 25px;
  color: blue;
}

.write-comment-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: -30px;
}

.comment-input {
  border-radius: 100px;
  width: 530px;
}

.comment-container {
  display: flex;
  gap: 10px;
  margin: 15px 0 15px 0;
}

.comment {
  background-color: #F0F2F5;
  border-radius: 10px;
  color: black;
  width: 530px;
  text-align: left;
  padding: 10px 0 10px 0;
}

.comment-creator {
  margin: 0 0 0 10px;
}

.comment-text {
  margin: 0 0 0 10px;
}

.like-count {
  color: black;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 5px;
}

.post-options-button-wrapper {
  margin-left: 270px;
}

.p-dialog-title {
  font-size: 100px !important;
  text-align: center;
  color: red;
}

.p-dialog-content {
  text-align: center;
}

img[src=''] {
  display: none;
}

.like-count[id='0'] {
  display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 640px) {
  
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .login-form {
    justify-content: center;
    margin: 0 auto;
  }

  .login-form .login-card {
    min-width: 300px;
  }

  .register-modal-container {
    position: absolute;
    height: 100vh;
    padding-bottom: 20px;
  }

  .login-text {
    text-align: center;
  }

  .navbar-container {
    width: max-content;
  }

  .navbar-search {
    width: max-content;
    
  }

  .post-image {
    width: 300px !important;
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    width: max-content;
  }

  .create-post-all-container {
    width: max-content;
  }

  .write-post-button {
    width: 80%;
  }

  .post-container {
    width: 100%;
  }

  .post-template {
    width: revert;
  }

  .post-avatar-container {
    width: revert;
  }

  .post-options-button-wrapper {
    margin-left: revert;
  }

  .post-body {
    width: revert;
    text-align: center;
  }

  .like-comment-container {
    width: revert;
    gap: 20px;
  }

  .post-image {
    width: fit-content;
  }

  .like-comment-button-container {
    gap: revert;
  }

  .post-break {
    max-width: 532px;
  }

  .create-post-modal {
    margin: 0 auto;
  }

  .all-post-container {
    width: 100%;
  }

  .comment {
    width: 100%;
  }

  .comment-input {
    width: 100%;
  }

}

@media screen and (min-width: 641px) and (max-width: 960px) {
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .login-form {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .register-modal-container {
    position: absolute;
    height: fit-content;
    padding-bottom: 20px;
  }

  .register-modal {
    margin-top: 50px;
  }

  .navbar-search {
    max-width: 20px;
  }
}