body {
  background-color: #F0F2F5;
  margin: 0 40px 0 40px;
}

/* FOR LOGIN */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  margin: 200px 0 0 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form .login-card {
  min-width: 450px;
}

.login-form .login-card form {
  margin-top: 2rem;
}

.login-form .login-card .field {
  margin-bottom: 1.5rem;
}

.login-break {
  margin: 30px;
}

.create-account-button {
  position: static !important;
}

.login-text-title {
  color: blue;
  font-size: 60px;
}

.login-text-subtext {
  font-size: 30px;
}

/* FOR REGISTER */

.register-modal-container {
  display: grid;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.register-modal {
  background-position: center;
  background-color: white;
  border-radius: 5%;
  padding: 30px 30px 30px;
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;

}

.text-center {
  font-size: 40px;
}

.close {
  float: right;
}

/* FOR NAVBAR */

.navbar {
  display: flex;
  margin-right: -40px;
  margin-left: -40px;
  top: 0;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 20px 0 20px 0;
}

.navbar-search {
  width: 532px;
}

/* FOR CREATE POST MODAL */

.create-post-modal-container {
  display: grid;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.create-post-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-position: center;
  background-color: white;
  border-radius: 2%;
  padding: 30px 30px 30px;
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
  gap: 20px;
  padding: 0 0 20px 0;
  width: 500px;

}

.add-to-post-container {
  display: flex;
  gap: 10px;
  width: 450px;
}

.post-button {
  width: 390px;
}

.post-text-area {
  width: 450px;
}

.create-post-break {
  margin-top: -20px;
  width: 500px;
}

.create-post-close-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
}

.photo-upload {
  width: 450px;
}

.photo-upload-container {
  display: none;
}

.create-avatar-container {
  display: flex;
  gap: 10px;
  align-content: flex-start;
  justify-content: flex-start;
  width: 450px;
}

.profile-name {
  font-weight: bold;
  font-size: 20px;
}

/* FOR REGISTER/LOGIN LINKS */

.register-link {
  text-align: center;
}

/* FOR HOME */

.create-post-container {
  display: flex;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.create-post-card {
  margin-top: 50px;
  width: 632px;
}

.create-post {
  display: flex;
  align-items: center;
  gap: 10px;
}

.write-post-button {
  border: none;
  border-radius: 20px;
  padding: 15px 0 15px 0;
  width: 532px;
  background-color: #E4E6E9;
  text-align: left;
  cursor: pointer;
}

.write-post-button:hover {
  background-color: lightgray;
}

.write-post-text {
  margin-left: 10px;
  font-size: 15px;
  color: gray;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  margin-top: 20px;
}

.post-template {
  display: Flex;
  flex-direction: column;
  width: 632px;
}

.post-image {
  width: 600px;
  border-radius: 10px;
}

.post-body {
  text-align: left;
}

.post-avatar-container {
  display: flex;
  gap: 10px;
  width: 600px;
}

.time {
  margin-top: 0;
}

.like-comment-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  margin-top: 10px;
}

.post-break {
  width: 632px;
}

.like-comment-button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 150px;
}

.like-icon {
  font-size: 25px;
  color: blue;
}

.write-comment-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.comment-input {
  border-radius: 100px;
  width: 530px;
}

.comment-container {
  display: flex;
  gap: 10px;
}

.comment {
  background-color: #F0F2F5;
  border-radius: 10px;
  color: black;
  min-width: 530px;
  text-align: left;
  padding: 10px 0 10px 0;
}

.comment-creator {
  margin: 0 0 0 10px;
}

.comment-text {
  margin: 0 0 0 10px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 640px) {
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .login-form {
    margin: 10px 0 10px 200px;
  }

  .login-form .login-card {
    min-width: 300px;
  }

  .register-modal-container {
    width: 100%;
  }

  .login-text {
    margin-left: 200px;
    text-align: center;
  }
}

@media screen and (min-width: 641px) and (max-width: 960px) {
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .login-form {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .register-modal-container {
    position: absolute;
    padding-bottom: 700px;
  }

  .register-modal {
    margin-top: 50px;
  }
}